
#about section {
    display: flex;
    flex-direction: column;
}

.item .imgBox {
    min-width: 200px;
}

.self-portrait {
    /* max-width: 300px; */
    min-width: 360px;
    margin: 0 2rem 1.45rem;
}

.self-portrait img {
    border-radius: 10%;
    /* filter: grayscale(10%); */
    transition: all 1s ease-out;
}

/* .self-portrait img:hover {
    filter: grayscale(10%);
} */

.self-portrait caption {
    display: inline-block;
    margin: 0 auto;
    padding: 0.3rem 1rem;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
}


/* ============================================================== *\
 *
 * Mobile
 *
\* ============================================================== */
/* 
@media only screen and (max-width: 480px) {

    #about section {
        display: block;
    }
    
    .self-portrait {
        min-width: 200px;
        width: 90%;
        margin: 0 auto 1.45rem;
    }
}
 */

@media only screen and (min-width: 992px) {

    #about section {
        flex-direction: row;
    }
    
    .self-portrait {
        width: 90%;
        max-width: 400px;
        margin: 0 auto 1.45rem;
    }
}

