
#about section {
    display: flex;
}

.item .imgBox {
    min-width: 200px;
}

.self-portrait {
    /* max-width: 300px; */
    min-width: 360px;
    margin: 0 2em 1.45rem;
}

.self-portrait img {
    border-radius: 10%;
    filter: grayscale(10%);
    transition: all 1s ease-out;
}

.self-portrait img:hover {
    filter: grayscale(10%);
}


/* ============================================================== *\
 *
 * Mobile
 *
\* ============================================================== */

@media only screen and (max-width: 480px) {

    #about section {
        display: block;
    }
    
    .self-portrait {
        min-width: 200px;
        width: 90%;
        margin: 0 auto 1.45rem;
    }
}
