header {
    background-color: #005fb1;
    margin: 0 auto 1.45rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
    width: 100%;
    width: 100vw;
    z-index: 1000;
}

header .page-wide {
    margin: 0 auto;
    padding: 0;
}

header h1 {
    /* font-family: 'Jura', 'Merriweather', sans-serif; */
    letter-spacing: 0.05rem;
    margin: 0.4rem 0 0.1rem;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    margin: 0;
    padding: 0;
    color: #edf2f4;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 0;
    right: 0;
}

header nav a {
    margin: 0;
    padding: 0.5em 1.9em;
    border: 1px rgba(0,32,59, 0.4) solid;
    border-bottom: none;
    transition: all 0.25s ease-in-out;
    background-color: rgba(237, 242, 244, 0.2);
    display: inline-flex;
    border-radius: 12px 0 0 0;
    /* color: #00203b; */
    color: #fff;
}

header nav a + a {
    border-left: none;
    border-radius: 0;
}

header nav a[aria-current="page"] {
    background-color: rgba(237, 242, 244, 0.4);
    /* color: #00203b; */
    color: #fff;
}

header nav a:hover {
    background-color: rgba(237, 242, 244, 0.6);
    /* color: #00203b; */
    color: #fff;
}



/* ============================================================== *\
 *
 * Mobile
 *
\* ============================================================== */

@media only screen and (max-width: 480px) {
    header h1 {
        margin: 0.4em 0.8em 0.6em;
    }
}
