/* ============================================================== *\
 *
 * Resume Styles
 *
\* ============================================================== */

#resume {
	font-family: Jura, Arial, Verdana, sans-serif;
}

#resume a:link {
	text-decoration: none;
	color: #005fb1;
}

#resume a:visited {
	color: #00203b;
}

#resume a:active,
#resume a:hover {
	color: #0074d8;
}

#my-info h1 {
	line-height: 1;
	margin: 0.3em 0 0.1em 0;
	font-size: 2.1em;
	letter-spacing: 0.12rem;
	/* font-family: 'Merriweather', 'Times New Roman', Times, serif; */
}

#my-info p {
	margin: 0;
	letter-spacing: 0.05em;
	line-height: 1.5;
}

#my-info {
	text-align: right;
	width: 96%;
	margin: 0 auto;
}

#my-info a[href^="tel:"]:after {
	content: " | ";
	margin-right: 0.1em;
}

#technologies ul {
	list-style-type: none;
	margin: 0 0 0.1em;	
}

#resources {
	width: 100%;
	margin: 0 auto 1em;
	text-align: center;
	font-size: 0.9rem;
}

#resources .pill {
	display: inline-block;
	/* background-color: #00203b; */
	padding: 0.3em 1em;
	margin: 0 auto;
	color: #00203b;
	border-radius: 12px;
}

#resources a:link,
#resources a:visited {
	padding: 2px;
	margin: 2px;
	text-decoration: none;
	color: #005fb1;
}

#resources a:active,
#resources a:hover {
	color: #0074d8;
	text-decoration: underline;
}

/* ============================================================== *\
 *
 * Content / Sections
 *
\* ============================================================== */

section {
	text-align: left;
	width: 90%;
	margin: 1.5em auto 2.5em;
}

section > h2 {
	font-family: 'Merriweather', 'Times New Roman', Times, serif;
	font-size: 1.3rem;
	font-weight: 300;
	letter-spacing: 0.15em;
	margin: 0px;
	color: #666;
	padding-bottom: 0.3em;
	margin-bottom: 0.7em;
	border-bottom: 2px solid #ccc;
}

section > ul {
	margin-top: 0.4em;
}

section > .job {
	margin: 0 0 2em;
}

.job .info {
	margin: 1em 0.5em 0.8em;
	font-size: 0.9rem;
	line-height: 1.5;
}

.job .info .company {
	margin: 0 0 0.2em;
	font-size: 140%;
	font-weight: bold;
	letter-spacing: 0.2em;
	color: #00203b;
	line-height: 1.2;
}

/* Position title and date(s) */
.job .info .position {
	font-size: 0.8rem; 
	line-height: 1.4;
	color: #666;
}

.job .info > .position > .role {
	display: block;
}

.job .info > .position > .title {
	display: inline-block;
}

.job .info > .position > .dates:before {
	content: " | ";
	padding: 0 0.3em;
}

.job .info > .position .dates {
	display: inline-block;
}

.job .info .address {
	display: none;
}

.job ul {
	margin-left: 2.4em;
}

.job p {
	margin-left: 1.4em;
}

/* .job.extended {
	display: none;
} */

section a:link,
section a:visited {
	color: #003366;
}

section a:active,
section a:hover {
	color: #0074d8;
}

section#note > h2 {
	border: none;
	line-height: 1.4;
	padding: 0.1em 0.2em;
	margin: 0 1.6em;
	font-size: 1rem;
	font-weight: 300;
	font-style: italic;
}


/* ============================================================== *\
 *
 * Mobile
 *
\* ============================================================== */

@media only screen and (max-width: 480px) {
	#my-info {
		text-align: center;
		margin: 0 auto 1.5em;
		padding: 0;
		font-size: 125%;
		line-height: 1.3;
	}

	#my-info a[href^="tel:"] {
		display: block;
	}

	#my-info a[href^="tel:"]:after {
		content: "";
		margin-right: 0;
	}
	
	section {
		text-align: left;
		width: 94%;
		margin: 1.5em auto 2.5em;
	}
	
	section > h2 {
		font-size: 1.8rem;
	}
	
	#resources {
		font-size: 1.4rem;
		margin: 1em auto 1em;
	}

	#resources .pill {
		padding: 0.9rem 1.2rem;
	}

	section {
		font-size: 120%;
		line-height: 1.5;
	}

	section .job {
		margin-left: 0;
	}

	.job .info {
		margin: 1em 0 0.8em;
		font-size: 1.2rem;
		line-height: 1.5;
	}

	section .job .info .position {
		font-size: 1.2rem;
		line-height: 1.5;
	}

	.job .info > .position > .role {
		display: block;
	}

	.job .info > .position > .title {
		display: block;
	}

	.job .info > .position > .dates:before {
		content: "";
		padding: inherit;
	}
	
	.job .info > .position .dates {
		display: block;
	}

	section .job ul {
		margin-left: 1.4em;
	}

	section#note > h2 {
		margin: 0;
	}
}


/* ============================================================== *\
 *
 * Print
 *
\* ============================================================== */

@media print 
{
	section#note > h2 {
		font-style: normal;
	}
}
