/* ============================================================== *\
 *
 * Resume Styles
 *
\* ============================================================== */

#resume {
	font-family: Jura, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header h1 {
	line-height: 1;
	margin: 0.3em 0 0.1em 0;
	font-size: 2.1em;
	/* font-family: 'Merriweather', 'Times New Roman', Times, serif; */
}

#header p {
	margin: 0;
	letter-spacing: 0.05em;
	line-height: 1.5;
}

#header {
	text-align: right;
	width: 96%;
	margin: 0 auto;
}

#resources {
	width: 100%;
	margin: 0 auto 1em;
	text-align: center;
	font-size: 0.9rem;
}

#resources .pill {
	display: inline-block;
	/* background-color: #00203b; */
	padding: 0.3em 1em;
	margin: 0 auto;
	color: #00203b;
	border-radius: 12px;
}

#resources a:link,
#resources a:visited {
	padding: 2px;
	margin: 2px;
	text-decoration: none;
	color: #005fb1;
}

#resources a:active,
#resources a:hover {
	color: #0074d8;
	text-decoration: underline;
}

/* ============================================================== *\
 *
 * Content / Sections
 *
\* ============================================================== */

.section {
	text-align: left;
	width: 90%;
	margin: 1.5em auto 2.5em;
}

.section > h2 {
	/* font-family: 'Merriweather', 'Times New Roman', Times, serif; */
	font-size: 1.3rem;
	font-weight: 300;
	letter-spacing: 0.15em;
	margin: 0px;
	color: #666;
	padding-bottom: 0.3em;
	margin-bottom: 0.7em;
	/* border-bottom: 2px solid #ccc; */
}

.section > ul {
	margin-top: 0.4em;
}

.section > .job {
	margin-left: 1em;
}

.job .info {
	margin: 1em 0.5em 0.8em;
	font-size: 0.9rem;
	line-height: 1.5;
}

.job .info .company {
	margin: 0;
	font-size: 140%;
	font-weight: bold;
	letter-spacing: 0.2em;
	color: #00203b;
	line-height: 1.2;
}

/* Position title and date(s) */
.job .info .position {
	font-size: 0.8rem; 
	line-height: 1.4;
	color: #666;
}

.job .info > .position > .role {
	display: block;
}

.job .info > .position > .title {
	display: inline-block;
}

.job .info > .position > .dates:before {
	content: " | ";
	padding: 0 0.3em;
}

.job .info > .position .dates {
	display: inline-block;
}

.job .info .address {
	display: none;
}

.job ul {
	margin-left: 2.4em;
}

.job p {
	margin-left: 1.4em;
}

/* .job.extended {
	display: none;
} */

.section a:link,
.section a:visited {
	color: #003366;
}

.section a:active,
.section a:hover {
	color: #0074d8;
}

.section#note > h2 {
	border: none;
	line-height: 1.4;
	padding: 0.1em 0.2em;
	margin: 0 1em;
	font-weight: 300;
	font-style: italic;
}


/* TODO  */
.container {
	min-height: 400px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.container:after {
	display: block;
	content: " invisible node ";
	flex: 999 999 auto;
}
.item {
	flex: 0 0 auto;
	margin: 5px;
}


/* ============================================================== *\
 *
 * Mobile
 *
\* ============================================================== */

@media only screen and (max-width: 480px) {
	#header {
		text-align: center;
		margin: 0 auto;
		padding: 0;
		font-size: 125%;
		margin-bottom: 2em;
	}

	#resources {
		font-size: 1.4rem;
		margin: 1em auto 1em;
	}

	#resources .pill {
		padding: 0.9rem 1.2rem;
	}

	.section {
		font-size: 140%;
		line-height: 1.5;
	}

	.section .job {
		margin-left: 0;
	}

	.job .info {
		margin: 1em 0 0.8em;
		font-size: 1.2rem;
		line-height: 1.5;
	}

	.section .job .info .position {
		font-size: 1.2rem;
		line-height: 1.5;
	}

	.job .info > .position > .role {
		display: block;
	}

	.job .info > .position > .title {
		display: block;
	}

	.job .info > .position > .dates:before {
		content: "";
		padding: inherit;
	}
	
	.job .info > .position .dates {
		display: block;
	}

	.section .job ul {
		margin-left: 1.4em;
	}
}
